
bin/
.idea/
obj/
Properties/
node_modules/
typings/
*.example
*.sublime-project
*.dmp
#Visual Studio
*.sln
*.csproj
*.njsproj
*.suo
*.cache

*.dat

# SSL
*.key
*.crt
*.csr
*.org
# Sublime 
*.build
*.sublime-workspace

*.map
*.bak
ssl/

#its compiled
index.js